<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Quán Ăn Mợ Bầu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Menu", "Menu", "Menu", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("OrderList", "OrderList", "OrderList", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("OrderCardList", "OrderCardList", "OrderCardList", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Report", "Report", "Report", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>

           
            <div class="btn-group" role="group">
                @{
                    if (HttpContext.Current.Session["Username"] != null)
                    {
                        <button type="button" class="Profile  btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            @{
                                var username = HttpContext.Current.Session["Username"].ToString();
                                var role = HttpContext.Current.Session["UserRole"].ToString();
                                if (role == "QL")
                                {

                                    <img src="~/Content/img/user-admin.png" />
                                    <p>@username</p>
                                }
                                else
                                {
                                    <img src="~/Content/img/user.png" />
                                    <p>@username</p>
                                }
                            }
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Login/ProfileInfo">Thông Tin Tài Khoản</a>
                            <a class="dropdown-item" href="@Url.Action("Logout", "Login", null)">Logout</a>
                        </div>
                    }
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>
